//  All font size
@mixin f16 {
    font-size: 16px;
}

@mixin f18 {
    font-size: 18px;
    @include xl {
        font-size: 16px;
    }
    @include lg {
        font-size: 15px;
    }
    // @include sm {
    //     font-size: 14px;
    // }
}

@mixin f28 {
    font-size: 28px;
    @include lg {
        font-size: 26px;
    }
}

//  All margin
@mixin mb30 {
    margin-bottom: 30px;
    @include xl {
        margin-bottom: 22px;
    }
    @include md {
        margin-bottom: 20px;
    }
    @include sm {
        margin-bottom: 12px;
    }
}

@mixin mb25 {
    margin-bottom: 25px;
}

@mixin mb40 {
    margin-bottom: 40px;
    @include xl {
        margin-bottom: 35px;
    }
    @include lg {
        margin-bottom: 25px;
    }
    @include md {
        margin-bottom: 20px;
    }
    @include sm {
        margin-bottom: 15px;
    }
}

@mixin mb20 {
    margin-bottom: 20px;
    @include xl {
        margin-bottom: 13px;
    }
    // @include md {
    //     margin-bottom: px;
    // }
}

@mixin mb28 {
    margin-bottom: 28px;
    @include xl {
        margin-bottom: 18px;
    }
    @include lg {
        margin-bottom: 12px;
    }
}

@mixin mb80 {
    margin-bottom: 80px;
    @include xl {
        margin-bottom: 60px;
    }
    @include lg {
        margin-bottom: 35px;
    }
    @include md {
        margin-bottom: 28px;
    }
}

@mixin mb100 {
    margin-bottom: 100px;
    @include xl {
        margin-bottom: 80px;
    }
    @include lg {
        margin-bottom: 50px;
    }
}

@mixin m20 {
    margin: 20px;
}

// transition 
@mixin transition3 {
    transition: 0.4s ease-in-out;
}

@mixin transition {
    transition: 0.4s ease-in-out;
}