.contact {
    &-item {
        &-single {
            margin-bottom: 30px;
            & h5 {
                font-size: 14px;
                margin-bottom: 15px;
            }
            & p {
                margin-bottom: 7px;
            }
        }
    }
    &-form {
        & .inm {
            margin-bottom: 20px;
            & input,
            textarea {
                height: 50px;
                padding-left: 20px;
                border: 1px solid $border;
                font-size: 14px;
            }
        }
        & .input {
            &-name {
                width: 50%;
                margin-right: 20px;
                @include md {
                    width: 100%;
                    margin-right: 0;
                }
                & input {
                    width: 100%;
                }
            }
            &-email {
                width: 50%;
                @include md {
                    width: 100%;
                }
                & input {
                    width: 100%;
                }
            }
            &-subject {
                & input {
                    width: 100%;
                }
            }
            &-comment {
                & textarea {
                    width: 100%;
                    height: 100px;
                    padding: 10px 20px;
                }
            }
            &-submit {
                & input {
                    padding: 10px 20px;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    transition: all 0.5s;
                    background-color: $primary;
                    color: $white;
                    border-radius: 6px;
                    @include md {
                        padding: 7px 13px;
                    }
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}