.feature {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-image: linear-gradient(#f8f9fa, white);
    @include xl {
        padding-bottom: 50px;
    }
    @include lg {
        padding-top: 60px;
        padding-bottom: 35px;
    }
    @include sm {
        padding-top: 33px;
        padding-bottom: 21px;
    }
    &-row {
        padding: 0 50px;
        @include md {
            padding: 0;
        }
    }
    &-item {
        @include sm {
            margin-bottom: 20px;
            padding: 0 15px;
        }
        & h3 {
            @include mb25;
            line-height: 36px;
            @include sm {
                font-size: 23px;
                margin-bottom: 20px;
            }
        }
        & p {
            margin: 20px 0;
        }
        &-list {
            margin-bottom: 30px;
            padding-left: 20px;
            @include md {
                padding-left: 0;
            }
            & li {
                position: relative;
                line-height: 24px;
                font-size: 15px;
                padding: 7px 0 7px 20px;
                display: block;
                &::after {
                    content: "";
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    position: absolute;
                    left: 0;
                    top: 14px;
                    background-color: $primary;
                }
            }
        }
        &-btn {
            padding: 10px 20px;
            font-size: 14px;
            letter-spacing: 0.5px;
            transition: 0.5s ease-in-out;
            background-color: $primary;
            color: $white;
            border-radius: 4px;
            line-height: 24px;
            @include lg {
                padding: 9px 20px
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    &-img {
        max-width: 500px;
        margin: 0 0 0 auto;
        & img {
            max-width: 100%;
            height: auto;
        }
    }
}