.process {
    background-color: #f8f9fa;
    padding: 80px 0;
    @include mb80;
    @include lg {
        padding: 45px 0;
    }
    & .dashed1 {
        position: relative;
        z-index: 1;
        &::after {
            position: absolute;
            left: 65%;
            top: 47px;
            width: 75%;
            height: 100%;
            content: '';
            border-top: 2px dashed #e0e0e0;
            @include sm {
                display: none;
            }
        }
        &::before {
            position: absolute;
            top: 22%;
            left: 100%;
            --picon: 35px;
            width: var(--picon);
            height: var(--picon);
            content: '\2b';
            z-index: 3;
            background-color: $primary;
            border-radius: 100%;
            color: $white;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include lg {
                --picon: 30px;
                top: 25%;
            }
            @include md {
                --picon: 28px;
                top: 21%;
            }
            @include sm {
                display: none;
            }
        }
    }
    &-box {
        @include mb80;
        & i {
            @include mb20;
            font-size: 48px;
            line-height: 72px;
            color: $primary;
            @include lg {
                font-size: 40px;
            }
            @include lg {
                font-size: 38px;
            }
        }
        & h4 {
            @include f18;
        }
        & p {
            font-size: 14px;
            line-height: 24px;
        }
    }
    &-btn {
        & a {
            font-weight: 500;
            line-height: 1.5;
            background-color: $primary;
            padding: 10px 20px;
            // font-size: 15px;
            border-radius: 6px;
            color: $white;
            @include transition;
            @include md {
                padding: 7px 13px;
            }
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}