.service {
    padding-top: 70px;
    display: block;
    @include lg {
        padding-top: 50px;
    }
    &-box {
        @include mb40;
        padding: 20px 50px;
        @include transition;
        @include xl {
            padding: 20px 14px;
            margin-bottom: 0;
        }
        @include lg {
            padding: 20px 0px;
        }
        @include md {
            padding: 20px 8px;
        }
        @include sm {
            padding: 15px 45px;
        }
        &:hover {
            transform: translateY(-15px);
            & .sIcon {
                background-color: $primary;
                color: $white;
            }
        }
        &-icon {
            font-size: 32px;
            --sicon: 68px;
            height: var(--sicon);
            width: var(--sicon);
            border-radius: 50%;
            box-shadow: 0 0 18px 0px rgb(155, 155, 155, 0.3);
            line-height: 68px;
            margin-bottom: 15px;
            color: $primary;
            @include mb30;
            @include transition;
            @include lg {
                --sicon: 55px;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                line-height: 0;
                margin-bottom: 15px;
            }
            @include md {
                --sicon: 50px;
                font-size: 28px;
            }
        }
        & h4 {
            @include mb30;
            @include lg {
                font-size: 20px;
            }
        }
    }
}

.section-title {
    margin-bottom: 65px;
    @include sm {
        margin-bottom: 30px;
    }
    & h1 {
        @include f28;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0px;
        line-height: 1;
        font-weight: 500;
        @include mb30;
        @include sm {
            font-size: 24px;
        }
    }
    & .bdr {
        display: inline-block;
        margin: 0 auto;
        width: 50px;
        height: 2px;
        background-color: $primary;
        @include mb20;
    }
    & p {
        color: $secondary;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: .7px;
        @include lg {
            font-size: 13px;
            line-height: 25px;
        }
    }
}