.testimonial {
    @include mb100;
    &-box {
        padding-top: 80px;
        @include transition;
        &-single {
            position: relative;
            z-index: 1;
            @include transition;
            &:hover {
                transform: translateY(-17px);
            }
            &-wrap {
                border: 1px solid $border;
                border-radius: 8px;
                background-color: $white;
                padding: 60px 25px 30px;
                @include lg {
                    padding: 48px 10px 24px;
                }
                @include mb30;
                @include md {
                    margin-bottom: 14px;
                }
                @include lg {
                    margin-top: 40px;
                }
                @include sm {
                    margin-bottom: 25px;
                }
            }
            &-img {
                position: absolute;
                z-index: 2;
                top: 0%;
                left: 41%;
                margin: -40px auto;
                --ticon: 80px;
                height: var(--ticon);
                width: var(--ticon);
                @include lg {
                    --ticon: 70px;
                    top: 1%;
                    left: 38%;
                }
                @include sm {
                    left: 36%;
                }
                & img {
                    border: 1px solid $border;
                    padding: 5px;
                    border-radius: 100%;
                }
            }
        }
        & h5 {
            font-size: 16px;
            text-align: center;
            line-height: 1.2;
        }
    }
}

.owl-carousel .owl-stage-outer {
    overflow: unset;
    // overflow-x: hidden !important;
}