/* It For All */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Tomorrow:wght@100;200;300;400;500;600;700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #95a0ab;
  font-weight: 400;
  overflow-x: hidden !important;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #212529;
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

input:focus,
textarea:focus {
  outline: 0 solid;
}

input {
  border: 1px solid #EFEFEF;
  padding: 10px 15px;
  border-radius: 3px;
}

img {
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 25px 0;
  transition: 0.5s ease-in-out;
  margin-top: 0;
}
@media only screen and (max-width: 1279px) {
  .nav {
    padding: 12px 0;
  }
}
.nav-menutreger {
  margin-right: 20px;
}
.nav-menutreger i {
  font-size: 18px;
}
.nav-logo a {
  font-size: 20px;
  color: #ffffff;
  margin-left: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 1279px) {
  .nav-logo a {
    margin-left: 0;
  }
}
.nav-item ul li a {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 30px;
  font-size: 16px;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 1279px) {
  .nav-item ul li a {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 1279px) {
  .nav-item ul li a {
    margin: 0 10px;
    font-size: 15px;
  }
}
.nav-item ul li a:hover {
  color: #ffffff;
}
.nav-btn a {
  background-color: #FF216F;
  padding: 10px 25px;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
  font-size: 17px;
}
@media only screen and (max-width: 1279px) {
  .nav-btn a {
    padding: 8px 23px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-btn a {
    padding: 8px 28px;
  }
}
.nav-btn a:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-5px);
}

.is-sticky {
  padding: 8px 0;
  transition: 0.4s ease-in-out;
  background-color: #272A33;
}

.ismenu {
  padding-top: 70px;
  transition: 0.4s ease-in-out;
  background-color: #272A33;
}

.mobile-menu {
  transition: 0.3s ease-in;
  position: fixed;
  top: -999px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 50px;
  z-index: 3;
  background-color: #272A33;
}
.mobile-menu-item {
  padding: 20px 0;
}
.mobile-menu-item li {
  display: inline-block;
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .mobile-menu-item li {
    padding: 0 3%;
  }
}
@media only screen and (max-width: 479px) {
  .mobile-menu-item li {
    padding: 0 2%;
  }
}
.mobile-menu-item li a {
  color: #95a0ab;
}

.menuShow {
  left: 0;
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.header {
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.header::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, #512da8, #711e72);
  opacity: 0.9;
  background-repeat: no-repeat;
}
.header-contant {
  padding-bottom: 150px;
  padding-top: 220px;
}
@media only screen and (max-width: 1439px) {
  .header-contant {
    padding-bottom: 113px;
    padding-top: 200px;
  }
}
@media only screen and (max-width: 1279px) {
  .header-contant {
    padding-bottom: 103px;
    padding-top: 155px;
  }
}
@media only screen and (max-width: 991px) {
  .header-contant {
    padding-bottom: 76px;
    padding-top: 138px;
  }
}
@media only screen and (max-width: 767px) {
  .header-contant {
    padding-bottom: 37px;
    padding-top: 108px;
  }
}
.header-contant-text h1 {
  font-size: 46px;
  line-height: 64px;
  margin-bottom: 20px;
  color: #ffffff;
}
@media only screen and (max-width: 1439px) {
  .header-contant-text h1 {
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 1279px) {
  .header-contant-text h1 {
    font-size: 45px;
    line-height: 59px;
  }
}
@media only screen and (max-width: 991px) {
  .header-contant-text h1 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .header-contant-text h1 {
    font-size: 37px;
    line-height: 46px;
  }
}
.header-contant-text p {
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 20px;
}
@media only screen and (max-width: 1439px) {
  .header-contant-text p {
    margin-bottom: 13px;
  }
}
.header-contant-vidbtn {
  display: inline-block;
  justify-content: center;
}
.header-contant-vidbtn i {
  --btnw: 65px;
  width: var(--btnw);
  height: var(--btnw);
  border: 2px solid #FF216F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  color: #FF216F;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .header-contant-vidbtn i {
    --btnw: 60px;
  }
}

.service {
  padding-top: 70px;
  display: block;
}
@media only screen and (max-width: 1279px) {
  .service {
    padding-top: 50px;
  }
}
.service-box {
  margin-bottom: 40px;
  padding: 20px 50px;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 1439px) {
  .service-box {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .service-box {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .service-box {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .service-box {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1439px) {
  .service-box {
    padding: 20px 14px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1279px) {
  .service-box {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .service-box {
    padding: 20px 8px;
  }
}
@media only screen and (max-width: 767px) {
  .service-box {
    padding: 15px 45px;
  }
}
.service-box:hover {
  transform: translateY(-15px);
}
.service-box:hover .sIcon {
  background-color: #FF216F;
  color: #ffffff;
}
.service-box-icon {
  font-size: 32px;
  --sicon: 68px;
  height: var(--sicon);
  width: var(--sicon);
  border-radius: 50%;
  box-shadow: 0 0 18px 0px rgba(155, 155, 155, 0.3);
  line-height: 68px;
  margin-bottom: 15px;
  color: #FF216F;
  margin-bottom: 30px;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 1439px) {
  .service-box-icon {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .service-box-icon {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .service-box-icon {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 1279px) {
  .service-box-icon {
    --sicon: 55px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .service-box-icon {
    --sicon: 50px;
    font-size: 28px;
  }
}
.service-box h4 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 1439px) {
  .service-box h4 {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .service-box h4 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .service-box h4 {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 1279px) {
  .service-box h4 {
    font-size: 20px;
  }
}

.section-title {
  margin-bottom: 65px;
}
@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 30px;
  }
}
.section-title h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1279px) {
  .section-title h1 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1439px) {
  .section-title h1 {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .section-title h1 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title h1 {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title h1 {
    font-size: 24px;
  }
}
.section-title .bdr {
  display: inline-block;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: #FF216F;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1439px) {
  .section-title .bdr {
    margin-bottom: 13px;
  }
}
.section-title p {
  color: #95a0ab;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.7px;
}
@media only screen and (max-width: 1279px) {
  .section-title p {
    font-size: 13px;
    line-height: 25px;
  }
}

.feature {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-image: linear-gradient(#f8f9fa, white);
}
@media only screen and (max-width: 1439px) {
  .feature {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1279px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .feature {
    padding-top: 33px;
    padding-bottom: 21px;
  }
}
.feature-row {
  padding: 0 50px;
}
@media only screen and (max-width: 991px) {
  .feature-row {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .feature-item {
    margin-bottom: 20px;
    padding: 0 15px;
  }
}
.feature-item h3 {
  margin-bottom: 25px;
  line-height: 36px;
}
@media only screen and (max-width: 767px) {
  .feature-item h3 {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
.feature-item p {
  margin: 20px 0;
}
.feature-item-list {
  margin-bottom: 30px;
  padding-left: 20px;
}
@media only screen and (max-width: 991px) {
  .feature-item-list {
    padding-left: 0;
  }
}
.feature-item-list li {
  position: relative;
  line-height: 24px;
  font-size: 15px;
  padding: 7px 0 7px 20px;
  display: block;
}
.feature-item-list li::after {
  content: "";
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 14px;
  background-color: #FF216F;
}
.feature-item-btn {
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
  background-color: #FF216F;
  color: #ffffff;
  border-radius: 4px;
  line-height: 24px;
}
@media only screen and (max-width: 1279px) {
  .feature-item-btn {
    padding: 9px 20px;
  }
}
.feature-item-btn:hover {
  transform: translateY(-10px);
}
.feature-img {
  max-width: 500px;
  margin: 0 0 0 auto;
}
.feature-img img {
  max-width: 100%;
  height: auto;
}

.pricing {
  padding: 100px 0;
}
@media only screen and (max-width: 991px) {
  .pricing {
    padding: 65px 0;
  }
}
.pricing-box {
  border: 1px solid #ecf0f5;
  border-radius: 6px;
  padding: 50px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
}
@media only screen and (max-width: 991px) {
  .pricing-box {
    padding: 30px 23px;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-box {
    margin-bottom: 20px;
  }
}
.pricing-box:hover {
  transform: translateY(-17px);
}
.pricing-box-top {
  margin-bottom: 40px;
  border-bottom: 1px solid #ecf0f5;
}
@media only screen and (max-width: 1439px) {
  .pricing-box-top {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .pricing-box-top {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-box-top {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-box-top {
    margin-bottom: 15px;
  }
}
.pricing-box-top h6 {
  text-transform: uppercase;
}
.pricing-box-top p {
  font-weight: 500;
  text-transform: uppercase;
}
.pricing-box-list p {
  color: #212529;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1439px) {
  .pricing-box-list p {
    margin-bottom: 13px;
  }
}
.pricing-box-list p strong {
  color: #FF216F;
}
.pricing-box-btn {
  padding: 10px 20px;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  color: #ffffff;
  background-color: #FF216F;
  border-radius: 4px;
  margin-top: 20px;
}
@media only screen and (max-width: 991px) {
  .pricing-box-btn {
    padding: 8px 18px;
  }
}
.pricing-box-btn:hover {
  transform: translateY(-5px);
}

.faq {
  margin-bottom: 200px;
}
@media only screen and (max-width: 1439px) {
  .faq {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 1279px) {
  .faq {
    margin-bottom: 95px;
  }
}
@media only screen and (max-width: 991px) {
  .faq {
    margin-bottom: 80px;
  }
}
.faq-item-single {
  border-bottom: 1px solid #ecf0f5;
}
.faq-item-single button {
  border: unset;
  background-color: unset;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  padding: 20px 30px;
  position: relative;
}
@media only screen and (max-width: 1439px) {
  .faq-item-single button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .faq-item-single button {
    font-size: 15px;
    margin-left: 10px;
    text-align: start;
  }
}
.faq-item-single button::before {
  position: absolute;
  left: -5px;
  top: 25px;
  content: "\f068";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding-right: 1px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #ffffff;
  background-color: #FF216F;
  z-index: 1;
}
@media only screen and (max-width: 1439px) {
  .faq-item-single button::before {
    width: 18px;
    height: 18px;
    font-size: 16px;
  }
}
.faq-item-single button[aria-expanded=false]::before {
  content: "+";
}
.faq-item-single p {
  margin-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
@media only screen and (max-width: 991px) {
  .faq-item-single p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .faq-item-single p {
    line-height: 22px;
  }
}
@media only screen and (max-width: 479px) {
  .faq-item-single p {
    font-size: 12px;
  }
}

.process {
  background-color: #f8f9fa;
  padding: 80px 0;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1439px) {
  .process {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  .process {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 991px) {
  .process {
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 1279px) {
  .process {
    padding: 45px 0;
  }
}
.process .dashed1 {
  position: relative;
  z-index: 1;
}
.process .dashed1::after {
  position: absolute;
  left: 65%;
  top: 47px;
  width: 75%;
  height: 100%;
  content: "";
  border-top: 2px dashed #e0e0e0;
}
@media only screen and (max-width: 767px) {
  .process .dashed1::after {
    display: none;
  }
}
.process .dashed1::before {
  position: absolute;
  top: 22%;
  left: 100%;
  --picon: 35px;
  width: var(--picon);
  height: var(--picon);
  content: "+";
  z-index: 3;
  background-color: #FF216F;
  border-radius: 100%;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1279px) {
  .process .dashed1::before {
    --picon: 30px;
    top: 25%;
  }
}
@media only screen and (max-width: 991px) {
  .process .dashed1::before {
    --picon: 28px;
    top: 21%;
  }
}
@media only screen and (max-width: 767px) {
  .process .dashed1::before {
    display: none;
  }
}
.process-box {
  margin-bottom: 80px;
}
@media only screen and (max-width: 1439px) {
  .process-box {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  .process-box {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 991px) {
  .process-box {
    margin-bottom: 28px;
  }
}
.process-box i {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 72px;
  color: #FF216F;
}
@media only screen and (max-width: 1439px) {
  .process-box i {
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 1279px) {
  .process-box i {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1279px) {
  .process-box i {
    font-size: 38px;
  }
}
.process-box h4 {
  font-size: 18px;
}
@media only screen and (max-width: 1439px) {
  .process-box h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1279px) {
  .process-box h4 {
    font-size: 15px;
  }
}
.process-box p {
  font-size: 14px;
  line-height: 24px;
}
.process-btn a {
  font-weight: 500;
  line-height: 1.5;
  background-color: #FF216F;
  padding: 10px 20px;
  border-radius: 6px;
  color: #ffffff;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 991px) {
  .process-btn a {
    padding: 9px 17px;
  }
}
.process-btn a:hover {
  transform: translateY(-5px);
}

.testimonial {
  margin-bottom: 100px;
}
@media only screen and (max-width: 1439px) {
  .testimonial {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1279px) {
  .testimonial {
    margin-bottom: 50px;
  }
}
.testimonial-box {
  padding-top: 80px;
  transition: 0.4s ease-in-out;
}
.testimonial-box-single {
  position: relative;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
.testimonial-box-single:hover {
  transform: translateY(-17px);
}
.testimonial-box-single-wrap {
  border: 1px solid #ecf0f5;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 60px 25px 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1279px) {
  .testimonial-box-single-wrap {
    padding: 48px 10px 24px;
  }
}
@media only screen and (max-width: 1439px) {
  .testimonial-box-single-wrap {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial-box-single-wrap {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-box-single-wrap {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial-box-single-wrap {
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 1279px) {
  .testimonial-box-single-wrap {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-box-single-wrap {
    margin-bottom: 25px;
  }
}
.testimonial-box-single-img {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 41%;
  margin: -40px auto;
  --ticon: 80px;
  height: var(--ticon);
  width: var(--ticon);
}
@media only screen and (max-width: 1279px) {
  .testimonial-box-single-img {
    --ticon: 70px;
    top: 1%;
    left: 38%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-box-single-img {
    left: 36%;
  }
}
.testimonial-box-single-img img {
  border: 1px solid #ecf0f5;
  padding: 5px;
  border-radius: 100%;
}
.testimonial-box h5 {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
}

.owl-carousel .owl-stage-outer {
  overflow: unset;
}

.blog {
  margin-bottom: 50px;
}
.blog-box {
  transition: 0.4s ease-in-out;
  margin: 0 25px;
}
@media only screen and (max-width: 1279px) {
  .blog-box {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .blog-box {
    margin-bottom: 35px;
  }
}
.blog-box:hover {
  transform: translateY(-17px);
}
.blog-box-img {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1439px) {
  .blog-box-img {
    margin-bottom: 13px;
  }
}
.blog-box-content {
  margin-bottom: 80px;
}
@media only screen and (max-width: 1439px) {
  .blog-box-content {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  .blog-box-content {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 991px) {
  .blog-box-content {
    margin-bottom: 28px;
  }
}
.blog-box-content h5 {
  color: #95a0ab;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .blog-box-content h5 {
    margin-bottom: 0;
  }
}
.blog-box-content h4 a {
  color: #212529;
  transition: 0.4s ease-in-out;
  font-size: 18px;
}
@media only screen and (max-width: 1439px) {
  .blog-box-content h4 a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1279px) {
  .blog-box-content h4 a {
    font-size: 15px;
  }
}
.blog-box-content h4 a:hover {
  color: #FF216F;
}
.blog-box-content p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1439px) {
  .blog-box-content p {
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .blog-box-content p {
    margin-bottom: 8px;
  }
}
.blog-btn a {
  color: #FF216F;
  transition: 0.4s ease-in-out;
}
.blog-btn a:hover {
  color: #95a0ab;
}

.contact-item-single {
  margin-bottom: 30px;
}
.contact-item-single h5 {
  font-size: 14px;
  margin-bottom: 15px;
}
.contact-item-single p {
  margin-bottom: 7px;
}
.contact-form .inm {
  margin-bottom: 20px;
}
.contact-form .inm input,
.contact-form .inm textarea {
  height: 50px;
  padding-left: 20px;
  border: 1px solid #ecf0f5;
  font-size: 14px;
}
.contact-form .input-name {
  width: 50%;
  margin-right: 3%;
}
@media only screen and (max-width: 991px) {
  .contact-form .input-name {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .contact-form .input-name {
    margin-right: 0;
  }
}
.contact-form .input-name input {
  width: 100%;
}
.contact-form .input-email {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .contact-form .input-email {
    width: 100%;
  }
}
.contact-form .input-email input {
  width: 100%;
}
.contact-form .input-subject input {
  width: 100%;
}
.contact-form .input-comment textarea {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
}
.contact-form .input-submit input {
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  background-color: #FF216F;
  color: #ffffff;
  border-radius: 6px;
}
.contact-form .input-submit input:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #272A33;
  padding-top: 90px;
}
@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer-comment a {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1439px) {
  .footer-comment a {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-comment a {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-comment a {
    margin-bottom: 12px;
  }
}
.footer-comment p {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1439px) {
  .footer-comment p {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .footer-comment p {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-comment p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-comment p {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-comment p {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-comment-socialIcon .cst {
    justify-content: center;
  }
}
.footer-comment-socialIcon p {
  color: #ffffff;
  font-size: 15px;
}
.footer-comment-socialIcon a {
  height: 46px;
  width: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
.footer-comment-socialIcon a:hover {
  transition: 0.4s ease-in-out;
  background-color: #FF216F;
  color: #fff !important;
}
.footer-comment-socialIcon a:hover * {
  color: currentColor !important;
  fill: currentColor !important;
}
.footer-comment-socialIcon a svg {
  overflow: hidden;
  vertical-align: middle;
}
.footer-lk h5 {
  color: #ffffff;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1439px) {
  .footer-lk h5 {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .footer-lk h5 {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-lk h5 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-lk h5 {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-lk h5 {
    margin-top: 30px;
  }
}
.footer-lk ul li {
  display: block;
}
.footer-lk ul li a {
  margin-bottom: 5px;
  padding: 4px 0;
  font-size: 16px;
  color: #95a0ab;
  transition: 0.4s ease-in-out;
}
.footer-lk ul li a:hover {
  color: #ffffff;
}
.footer-sb h5 {
  color: #ffffff;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1439px) {
  .footer-sb h5 {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .footer-sb h5 {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-sb h5 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-sb h5 {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-sb h5 {
    margin-top: 30px;
  }
}
.footer-sb-formBox {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1439px) {
  .footer-sb-formBox {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .footer-sb-formBox {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-sb-formBox {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-sb-formBox {
    margin-bottom: 15px;
  }
}
.footer-sb-formBox .ine {
  border-radius: 100px;
  font-size: 14px;
  padding-right: 120px !important;
  padding: 13.5px 23px;
  height: auto;
  display: block;
  width: 100%;
  height: 50px;
  border: unset;
  color: #ffffff;
  background-color: #474B5B;
  line-height: 1.5;
}
.footer-sb-formBox .ine::-moz-placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.footer-sb-formBox .ine::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
@media only screen and (max-width: 991px) {
  .footer-sb-formBox .ine {
    padding-right: 97px !important;
  }
}
.footer-sb-formBox .ins {
  position: absolute;
  right: 5px;
  top: 10%;
  width: -moz-max-content;
  width: max-content;
  min-width: 110px;
  height: 40px;
  color: #ffffff;
  background: #FF216F;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 100px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1439px) {
  .footer-sb-formBox .ins {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1279px) {
  .footer-sb-formBox .ins {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-sb-formBox .ins {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-sb-formBox .ins {
    margin-bottom: 15px;
  }
}
.footer-sb-formBox .ins:hover {
  transition: 0.4s ease-in-out;
  background-color: #000000;
}
@media only screen and (max-width: 991px) {
  .footer-sb-formBox .ins {
    min-width: 88px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-sb-apk {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-sb-apk a {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: inline-block;
  color: #fff;
  padding: 16px 27px;
  margin-right: 20px;
  margin-top: 20px;
  transition: 0.4s ease-in-out;
}
.footer-sb-apk a:hover {
  background-color: #FF216F;
}/*# sourceMappingURL=style.css.map */